html, body {
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2%;
    margin-bottom: 20%;
    background-color: rgb(211, 255, 205);
  }

.main-container {
    display: flex;
    width: auto;
    height: auto;
    margin-bottom: 3%;
}

.top-left-container {
    background-image: linear-gradient(to right, green , rgb(211, 255, 205) );
    width: 40%;
    margin-right: 125px;
}

.top-right-container {
    flex-grow: 1;
}

.left-container {
    height: auto;
    width: 40%;
    /* background-image: linear-gradient(to right, green , rgb(211, 255, 205)); */
}

.right-container {
    flex-grow: 1;
}

.profile-container {
    margin-bottom: 50px;
}

.profile {
    border-radius: 50%;
    width: 250px;
    height: 250px;
    margin-left: 20%;
    margin-top: 15%;
}

.profile-info {
    color: green;
    text-align: center;
    vertical-align: middle;
    margin-top: 15%;
}

.left-item {
    padding-bottom: 20px;
    margin-bottom: 50px;
    color: white;
    background-image: linear-gradient(to right, green , rgb(211, 255, 205) 110%);
}

.right-item {
    margin-bottom: 50px;
    padding-bottom: 20px;
    color: white;
    margin-left: 20%;
    background-image: linear-gradient(to right, green , rgb(211, 255, 205) 110%);
}


.left-title {
    background-color: green;
    margin-bottom: 20px;
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.right-title {
    /* color: rgb(211, 255, 205); */
    background-color: green;
    margin-bottom: 20px;
    /* margin-left: 25px; */
    font-style: italic;
    font-weight: bold;
    font-size: 35px;
    /* width: 70%; */
    padding-top: 5px;
    padding-bottom: 5px;
}

.info {
    color: white;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 30%;
    word-spacing: 3px;
    padding-left: 2%;
    
}


.separator {
    border-style: hidden;
    height: 5px;
    background-color: green;
    margin: 0;
}

.name {
    font-weight: bold;
    font-size: 50px;
}

.skills-contaner {
    margin-left: 25px;
    display: flex;
}

.skill-icon {
    /* width: 50px; */
    height: 40px;
    margin: 5px;
    margin-left: 20px;
}

.bullets {
    font-weight: bold;
    font-size: 20px;
}

.exp-list {
    padding: 5px;
    font-size: 20px;
}